<div class='container'>
  <div class='row'>
     <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>Editing recipe</h1>
    	<%= render 'layouts/errors', obj: @recipe %>
  		<%= render 'form', recipe: @recipe %>
  		<%= link_to 'Show', @recipe, class: "recipe_#{@recipe.id}" %> |
  		<%= link_to 'Back', recipes_path, class: "back" %>
  </div>
</div>